<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link th:href="@{main.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/strona_startowa">Strona startowa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li  sec:authorize="isAuthenticated()" class="nav-item active" >
                <a class="nav-link"  href="/zarejestruj_pacjenta">Zarejestruj pacjenta<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" href="/wyszukaj_pacjenta">Wyszukaj pacjenta<span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" href="/wyszukaj_pacjenta_do_mod">Modyfikuj dane pacjenta<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Wygeneruj wykres
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="/formularz_filtrowanie_czynniki">Udziału czynników ryzyka</a>
                    <a class="dropdown-item" href="/formularz_filtrowanie_procenty_nowotwory">Udziału nowotworów płuc</a>
                    <a class="dropdown-item" href="/formularz_filtrowanie_surowe">Współczynników zachorowalności/śmiertelności</a>
                </div>
            </li>
        </ul>
        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <a class="nav-link" sec:authorize="!isAuthenticated()" href="/login">Zaloguj<span class="sr-only">(current)</span></a>

        <!--        <div sec:authorize="isAuthenticated()">-->
        <form sec:authorize="isAuthenticated()" id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button class="nav-link" type="submit">Wyloguj </button>
        </form>

        <!--            <h2>Welcome <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>-->
        <!--        </div>-->
        <!--        </form>-->
    </div>
</nav>
<div class="container">

    <form action="#" th:action="@{/formularz_filtrowanie_surowe123}" th:object="${suroweFormularz}" th:method="POST" >





        <br>

        <label>Przedział wiekowy:</label>
        <br>
        <label th:if="${wskaznikWieku==true}">Przedział wiekowy</label>
        <label th:class="wskaznik" th:unless="${wskaznikWieku==true}">Błędnie podany przedział wiekowy</label>
        <select th:field="*{wiekDolny}">
            <option th:each ="wiek : ${wiekDolnys}" th:value="${wiek}"  th:text="${wiek}"/>
        </select>
        <select th:field="*{wiekGorny}">
            <option th:each ="wiek : ${wiekGornys}" th:value="${wiek}"  th:text="${wiek}"/>
        </select>

        <br>

        <label>Nowotwór płuc:</label>
        <br>
        <select th:field="*{rak}">
            <option th:each ="raczek : ${raczki}" th:value="${raczek.getNazwa()}"  th:text="${raczek.getNazwa()}" />
        </select>

        <br>

        <label th:if="${wskaznikLat==true}">Okres rozpatrywanych lat</label>
        <label th:class="wskaznik" th:unless="${wskaznikLat==true}">Okres rozpatrywanych lat (od, do)</label>
        <br>
        <select th:field="*{rokPocz}" >
            <option th:each ="roczek : ${rokPoczs}" th:value="${roczek}"  th:text="${roczek}"  />
        </select>

        <select th:field="*{rokKon}" >
            <option th:each ="roczek : ${rokKons}" th:value="${roczek}"  th:text="${roczek}"  />
        </select>
        <br>

        <label>Płeć</label>
        <br>
        <select th:field="*{plec}" >
            <option  th:each ="pl: ${plcie}" th:value="${pl.getNazwa()}"  th:text="${pl.getNazwa()}" />
        </select>


        <br>

        <label>Zachorowania/zgony</label>
        <br>
        <select th:field="*{zachorowaniaZgony}" >
            <option th:each ="stan : ${zachorowaniaZgonys}" th:value="${stan}"  th:text="${stan}" />
        </select>

        <br>

        <label>Zachorowania/zgony</label>
        <br>
<!--        <select th:field="*{czynnikiRyzyka}" >-->
<!--            <option th:each ="czynnik : ${czynnikiRyz}" th:value="${czynnik}"  th:text="${czynnik.getNazwa()}" />-->
<!--        </select>-->

<!--        <br>-->

        <br>



        <li th:each="wczynnikRyzyka : ${czynnikiRyz}">
            <input type="checkbox" th:field="*{czynnikiRyzyka}" th:value="${wczynnikRyzyka.getNazwa()}"/>
            <label th:text="${wczynnikRyzyka.getNazwa()}"  >Historia nowotworów w rodzinie</label>
        </li>




        <button type="submit">Wygeneruj wykres</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>